# Dependencies
node_modules/

# Build
dist/
build/

# Env
.env
.env.*
!.env.example

# IDE / OS
.DS_Store
.idea/
*.log
*.swp

# Vite / TypeScript
*.local
tsconfig.node.tsbuildinfo
vite.config.d.ts
vite.config.js
